.container{
    margin: 0 20px;
    width: 100%;
}

.container-left{
    background-color: lightgray;
    clear: left;
    float: left;
    padding: 5px;
    width: 200px;
    word-wrap: break-word;
}

.container-right{
    margin-left: 220px;
    min-width: 200px;
}

#header {
    background-color: lightblue;
}

#content {
    margin: 10px 0px;
}

.item-text {
    font-size:20px;
}

h1{
    font-size: 25px;
    font-weight: bold;
}

li {
    /*list-style-type: none;*/
}

.rounded-corners {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}