.container{
    margin: 0 auto;
    width: 100%;
}

.container-left{
    background-color: lightgray;
    clear: left;
    float: left;
    margin-left: 20px;
    min-height: 400px;
    padding: 5px;
    width: 300px;
    word-wrap: break-word;
}

.container-right{
    border: solid;
    border-width: 1px;
    margin-left: 340px;
    margin-right: 20px;
    min-height: 400px;
    min-width: 300px;
    padding: 5px;
}

#header {
    background-color: #F2D272;
    padding: 0 20px;
}

#content {
    margin: 10px 0px;
}

.item-text {
    font-size:20px;
}

body {
    color: #465973;
}

h1{
    font-size: 25px;
    font-weight: bold;
    color: #465973;
}

li {
    /*list-style-type: none;*/
    clear: left;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.selected{
    background-color: #F2D272;
    order-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

#todoList {
    float:left;
    width: 100%;
}

.rounded-corners {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

.deleteList, .deleteItem {
    float: right;
}

.item-text, .list-text {
    float: left;
}